@charset "utf-8";
/* CSS Document */
div.alert-background {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.80);
	z-index:99;
}
div.alert-popup {
	padding:20px;
	position:relative;
	top:30%;
	left:30%;
	background-color:rgba(209,209,209,1.00);
	width:40%;
	height = 150px;
	border-radius:5px;
	text-align:center;
	box-shadow:5px 5px 5px #000000;
}
div.alert-popup p{
	text-align:left;
	font-size:18px
}
div.alert-popup button{
	height:30px;
	width:60px;
	margin:10px;
}

