@charset "utf-8";
/* CSS Document */
body {
	background-color:#000000;
	font-family: 'Karla', sans-serif;
	margin:0;
}
h1, h2, h3 {
	font-family: 'Karla', sans-serif;
}
section h1, section h2, section h3, h1.articletitle, h2.articletitle {
	background-color:#1E1E1E;
	position:relative;
	color:#ffffff;
	left:-10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
h1.articletitle {
	font-size:24px;
	margin-bottom:2px;
}
h2.articletitle {
	font-size:16px;
	margin-top:2px;
}
p {
	font-family: 'Karla', sans-serif;
}
.sitebanner {
	height: 30px;
	/*background-image:url(img/banner.png);*/
	background-color:rgba(0,0,0,0.7);
	/*z-index: 200;*/
	width: 100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
	/*box-shadow:5px 4px 10px 2px gray;*/
}
.sitebanner .flag {
	height: 30px;
	margin: 0px 0px 0px 0px;
	float: left;
	display: inline;
	width: 170px;
	position: relative;
	background-color:#000000;
}
.sitebanner .flag h1 {
	font-weight:100;
	color:#FFFFFF;
	padding-left:30px;
	margin-top:5px;
	font-size:15px;
	font-weight:bold;
}
.sitebanner .flagtip {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #000000;
	float:left;
	display:inline;
	position:relative;
}
nav.sitemenu {
	position:fixed;
	top:30px;
	background-color:rgba(0,0,0,0.9);
}
.sitemenu ul {
	display:inline;
	list-style: none;
	margin: 0;
	padding: 0 0px;
}
.sitemenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align:center;
}
.mobile_hidden {
	display:none;
}
.sitemenu a {
	display:block;
	width:76px;
	height:30px;
	text-wrap:normal;
	line-height:30px;
	color:#D8D8D8;
	text-decoration:none;
	font-family: 'Karla', sans-serif;
	font-weight:bold;
}
.sitemenu a.current {
	background-color:#FFFFFF;
	opacity:0.8;
	color:#000000;
}
.sitemenu a:hover{
	background-color:#FFFFFF;
	opacity:0.4;
	color:#000000;
}

.container #mainpic {
	position:fixed;
	top:0;
	/*height:135px;*/
	height:30px;
	z-index:1;
}

/* The whole point of this is to absorb the header when navigating the page */
section:before { 
  display: block; 
  content: " "; 
  margin-top: -40px; 
  height: 40px; 
  visibility: hidden; 
}

article {
	background-color:#D0D0D0;
	margin-top:70px;
	margin-left: 0px;
	margin-right: 0px;
	padding:8px;
	margin-bottom:5px;
	min-height:800px;
	padding-top:10px;
}

div.articlemenu {
	background:linear-gradient(rgba(125, 129, 114, .9), rgba(128, 131, 119, .85));
	opacity:.15;
	border-radius:5px;
	box-shadow:5px 5px 5px #000000;
	position:fixed;
	top:100px;
	right:30px;
	transition:all .5s;
	padding-bottom:5px;
	z-index:1;
}
div.articlemenu:hover {
	background:linear-gradient(rgba(25, 29, 14, .9), rgba(28, 31, 19, .85));
	opacity:1;
	transition:all .5s;
}
.articlemenu h2.navindicator {
	color:#FFFFFF;
	margin-bottom:2px;
	margin-top:2px;
	margin-left:10px;
	margin-right:10px;
	transition:all 1s;
	display:inherit;
}
.articlemenu:hover h2.navindicator {
	transition:all .5s;
	display:none;
}
.articlemenu h2.navtitle {
	transition:all .5s;
	display:none;
}
.articlemenu:hover h2.navtitle {
	transition:all 1s;
	display:inherit;
	background-color:rgba(85,95,60,0.7);
	color:#FFFFFF;
	margin:5px;	
	padding:5px;
	text-align:right;
	border-radius:5px;
}
.articlemenu ol.articlenav {
	transition:all .5s;
	display:none;
}
.articlemenu:hover ol.articlenav {
	transition:all 1s;
	display:inherit;
	padding:0;
	margin:0;
}
.navtitle a {
	color:inherit;
	text-decoration:none;
}
ol.articlenav li {
	/*background-color:rgba(85,95,60,0.7);*/
	color:#FFFFFF;
	margin-left:5px;
	margin-right:5px;
	padding:5px;
	text-align:right;
	border-radius:5px;
	list-style:none;
	text-align:left;
	margin-top:2px;
	color:#ffffff;
	text-decoration:none;
}
ol.articlenav li a {
	color:#FFFFFF;
	display:block;
	text-wrap:none;
	text-decoration:none;
	border-radius:5px;
	font-family: 'Karla', sans-serif;
}
ol.articlenav li a:hover {
	background-color:#FFFFFF;
	opacity:0.4;
	color:#000000;
}
article img {
	box-shadow:5px 4px 10px 2px gray;
	max-width:100%;
}
img.center {
	display: block;
    margin-left: auto;
    margin-right: auto
}
figcaption.center {
	text-align:center;
	margin-top:5px;
}
pre {
	background-color:rgba(255,240,182,1.00);
	border-radius:3px;
	padding:30px;
	box-shadow:5px 4px 10px 2px gray;
	overflow:auto;
	word-wrap:normal;
	white-space:pre;
}
table, th, td {
	text-align:center;
	border: 1px solid #44667F;
	border-collapse:collapse;
	padding:3px;
	font-size:8px;
}
table caption {
	color:#45596A;
}
figcaption {
	color:#45596A;
}

footer {
	text-align:center;
	padding-bottom:20px;
}
footer h2 {
	color:#FFFFFF;
	margin-bottom:5px;
}
footer p {
	color:#E5E5E5;
	margin-top:5px;
	margin-bottom:5px;
}
footer a {
	color:inherit;
	text-decoration:none;
	margin-left:5px;
	margin-right:5px;
}